name: Generate OpenStreetMap Garmin maps
on:
  push:
    branches:
      - cached-download-action
jobs:
  mkgmap:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - id: osmosis
        uses: ./.github/actions/cached-download
        with:
          filename: osmosis-0.49.2.zip
          url: https://github.com/openstreetmap/osmosis/releases/download/0.49.2/osmosis-0.49.2.zip
      - id: belgium
        uses: ./.github/actions/cached-download
        with:
          filename: belgium-260221.osm.pbf
          url: https://download.geofabrik.de/europe/belgium-260221.osm.pbf
      - id: netherlands
        uses: ./.github/actions/cached-download
        with:
          filename: netherlands-260221.osm.pbf
          url: https://download.geofabrik.de/europe/netherlands-260221.osm.pbf
      - id: luxembourg
        uses: ./.github/actions/cached-download
        with:
          filename: luxembourg-260221.osm.pbf
          url: https://download.geofabrik.de/europe/luxembourg-260221.osm.pbf
      - id: bounds
        uses: ./.github/actions/cached-download
        with:
          filename: bounds-20260220.zip
          url: http://osm.thkukuk.de/data/bounds-20260220.zip
      - id: sea
        uses: ./.github/actions/cached-download
        with:
          filename: sea-20260220230000.zip
          url: http://osm.thkukuk.de/data/sea-20260220230000.zip
      - id: mkgmap
        uses: ./.github/actions/cached-download
        with:
          filename: mkgmap-r4924.zip
          url: https://www.mkgmap.org.uk/download/mkgmap-r4924.zip
      - id: splitter
        uses: ./.github/actions/cached-download
        with:
          filename: splitter-r654.zip
          url: https://www.mkgmap.org.uk/download/splitter-r654.zip
      - id: m31
        uses: ./.github/actions/cached-download
        with:
          filename: 114a217-611d29fea4a00.zip
          url: https://www.viewfinderpanoramas.org/dem3/M31.zip
      - id: m32
        uses: ./.github/actions/cached-download
        with:
          filename: 1bb1c19-611e21623f400.zip
          url: https://www.viewfinderpanoramas.org/dem3/M32.zip
      - id: n31
        uses: ./.github/actions/cached-download
        with:
          filename: 1f5128-611e1d8bf6680.zip
          url: https://www.viewfinderpanoramas.org/dem3/N31.zip
      - id: n32
        uses: ./.github/actions/cached-download
        with:
          filename: a3ea25-611e1c9ba2f80.zip
          url: https://www.viewfinderpanoramas.org/dem3/N32.zip
      - id: hoehendaten_freizeitkarte_bel
        uses: ./.github/actions/cached-download
        with:
          filename: 5c4402-62ed305a14a16.zip
          url: http://develop.freizeitkarte-osm.de/ele_20_100_500/Hoehendaten_Freizeitkarte_BEL.osm.pbf
      - id: hoehendaten_freizeitkarte_nld
        uses: ./.github/actions/cached-download
        with:
          filename: 3d557b-62ed30b3b735d.zip
          url: http://develop.freizeitkarte-osm.de/ele_20_100_500/Hoehendaten_Freizeitkarte_NLD.osm.pbf
      - id: hoehendaten_freizeitkarte_lux
        uses: ./.github/actions/cached-download
        with:
          filename: 17dc23-62ed30c666547.zip
          url: http://develop.freizeitkarte-osm.de/ele_20_100_500/Hoehendaten_Freizeitkarte_LUX.osm.pbf
      - id: cities
        uses: ./.github/actions/cached-download
        with:
          filename: 2eb5af-64b6119a43c1c.zip
          url: http://download.geonames.org/export/dump/cities15000.zip
      - uses: actions/setup-java@v3
        with:
          distribution: 'oracle'
          java-version: '17'
      - name: Extract osmosis
        run: unzip -d osmosis ${{ steps.osmosis.outputs.filename }}
      - name: Merge extracts
        run: >
          osmosis/osmosis*/bin/osmosis
          --rbf ${{ steps.belgium.outputs.filename }}
          --rbf ${{ steps.netherlands.outputs.filename }}
          --rbf ${{ steps.luxembourg.outputs.filename }}
          --rbf ${{ steps.hoehendaten_freizeitkarte_bel.outputs.filename }}
          --rbf ${{ steps.hoehendaten_freizeitkarte_nld.outputs.filename }}
          --rbf ${{ steps.hoehendaten_freizeitkarte_lux.outputs.filename }}
          --merge
          --merge
          --merge
          --merge
          --merge
          --wb merged.osm.pbf
      - name: Extract splitter
        run: unzip -d splitter ${{ steps.splitter.outputs.filename }}
      - name: Extract cities
        run: unzip ${{ steps.cities.outputs.filename }}
      - name: Splitter
        run: >
          java
          -Xmx4096m
          -jar splitter/*/splitter.jar
          --output=pbf
          --output-dir=splitted
          --max-nodes=1400000
          --mapid=10010001
          --geonames-file=cities15000.txt
          --polygon-file=resources/benelux.poly
          merged.osm.pbf
      - name: Extract mkgmap
        run: unzip -d mkgmap ${{ steps.mkgmap.outputs.filename }}
      - name: Extract dem files
        run: >
          for Z in
          ${{ steps.m31.outputs.filename }}
          ${{ steps.m32.outputs.filename }}
          ${{ steps.n31.outputs.filename }}
          ${{ steps.n32.outputs.filename }}
          ; do
          unzip -d map_with_dem_files $Z ;
          done
      - name: Move DEM files
        run: mv map_with_dem_files/???/*.hgt map_with_dem_files/
      - name: Rename sea.zip
        run: mv ${{ steps.sea.outputs.filename }} sea.zip
      - name: Rename bounds.zip
        run: mv ${{ steps.bounds.outputs.filename }} bounds.zip
      - name: mkgmap
        run: >
          java
          -Xms4096m
          -Xmx4096m
          -jar mkgmap/*/mkgmap.jar
          -c "styles/Openfietsmap full/mkgmap.args"
          -c splitted/template.args
          "typ/Openfietsmap lite/20011.txt"
      - name: Rename sea.zip
        run: mv sea.zip ${{ steps.sea.outputs.filename }}
      - name: Rename bounds.zip
        run: mv bounds.zip ${{ steps.bounds.outputs.filename }}
      - uses: "marvinpinto/action-automatic-releases@v1.2.1"
        with:
          repo_token: "${{ secrets.PAT }}"
          automatic_release_tag: "latest"
          prerelease: false
          files: gmapsupp.img
