name: Generate OpenStreetMap Garmin maps
on:
  push:
    branches:
      - main
jobs:
  mkgmap:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Cache osmosis
        id: cache-osmosis
        uses: actions/cache@v3
        with:
          path: osmosis-0.49.2.zip
          key: osmosis-0.49.2.zip
      - name: Cache geofabrik-belgium
        id: cache-geofabrik-belgium
        uses: actions/cache@v3
        with:
          path: belgium-260204.osm.pbf
          key: belgium-260204.osm.pbf
      - name: Cache geofabrik-netherlands
        id: cache-geofabrik-netherlands
        uses: actions/cache@v3
        with:
          path: netherlands-260204.osm.pbf
          key: netherlands-260204.osm.pbf
      - name: Cache geofabrik-luxembourg
        id: cache-geofabrik-luxembourg
        uses: actions/cache@v3
        with:
          path: luxembourg-260204.osm.pbf
          key: luxembourg-260204.osm.pbf
      - name: Cache bounds
        id: cache-bounds
        uses: actions/cache@v3
        with:
          path: bounds-20260112.zip
          key: bounds-20260112.zip
      - name: Cache sea
        id: cache-sea
        uses: actions/cache@v3
        with:
          path: sea-20260203230000.zip
          key: sea-20260203230000.zip
      - name: Cache mkgmap
        id: cache-mkgmap
        uses: actions/cache@v3
        with:
          path: mkgmap-r4924.zip
          key: mkgmap-r4924.zip
      - name: Cache splitter
        id: cache-splitter
        uses: actions/cache@v3
        with:
          path: splitter-r654.zip
          key: splitter-r654.zip
      - name: Cache M31
        id: cache-M31
        uses: actions/cache@v3
        with:
          path: 114a217-611d29fea4a00.zip
          key: 114a217-611d29fea4a00.zip
      - name: Cache M32
        id: cache-M32
        uses: actions/cache@v3
        with:
          path: 1bb1c19-611e21623f400.zip
          key: 1bb1c19-611e21623f400.zip
      - name: Cache N31
        id: cache-N31
        uses: actions/cache@v3
        with:
          path: 1f5128-611e1d8bf6680.zip
          key: 1f5128-611e1d8bf6680.zip
      - name: Cache N32
        id: cache-N32
        uses: actions/cache@v3
        with:
          path: a3ea25-611e1c9ba2f80.zip
          key: a3ea25-611e1c9ba2f80.zip
      - name: Cache Hoehendaten_Freizeitkarte_BEL
        id: cache-Hoehendaten_Freizeitkarte_BEL
        uses: actions/cache@v3
        with:
          path: 5c4402-62ed305a14a16.zip
          key: 5c4402-62ed305a14a16.zip
      - name: Cache Hoehendaten_Freizeitkarte_NLD
        id: cache-Hoehendaten_Freizeitkarte_NLD
        uses: actions/cache@v3
        with:
          path: 3d557b-62ed30b3b735d.zip
          key: 3d557b-62ed30b3b735d.zip
      - name: Cache Hoehendaten_Freizeitkarte_LUX
        id: cache-Hoehendaten_Freizeitkarte_LUX
        uses: actions/cache@v3
        with:
          path: 17dc23-62ed30c666547.zip
          key: 17dc23-62ed30c666547.zip
      - name: Cache cities15000
        id: cache-cities15000
        uses: actions/cache@v3
        with:
          path: 2ea27e-64a0a77ca8ce8.zip
          key: 2ea27e-64a0a77ca8ce8.zip

      - name: Download osmosis
        if: steps.cache-osmosis.outputs.cache-hit != 'true'
        run: wget -O osmosis-0.49.2.zip https://github.com/openstreetmap/osmosis/releases/download/0.49.2/osmosis-0.49.2.zip
      - name: Download geofabrik-belgium
        if: steps.cache-geofabrik-belgium.outputs.cache-hit != 'true'
        run: wget -O belgium-260204.osm.pbf https://download.geofabrik.de/europe/belgium-260204.osm.pbf
      - name: Download geofabrik-netherlands
        if: steps.cache-geofabrik-netherlands.outputs.cache-hit != 'true'
        run: wget -O netherlands-260204.osm.pbf https://download.geofabrik.de/europe/netherlands-260204.osm.pbf
      - name: Download geofabrik-luxembourg
        if: steps.cache-geofabrik-luxembourg.outputs.cache-hit != 'true'
        run: wget -O luxembourg-260204.osm.pbf https://download.geofabrik.de/europe/luxembourg-260204.osm.pbf
      - name: Download bounds
        if: steps.cache-bounds.outputs.cache-hit != 'true'
        run: wget -O bounds-20260112.zip http://osm.thkukuk.de/data/bounds-20260112.zip
      - name: Download sea
        if: steps.cache-sea.outputs.cache-hit != 'true'
        run: wget -O sea-20260203230000.zip http://osm.thkukuk.de/data/sea-20260203230000.zip
      - name: Download mkgmap
        if: steps.cache-mkgmap.outputs.cache-hit != 'true'
        run: wget -O mkgmap-r4924.zip https://www.mkgmap.org.uk/download/mkgmap-r4924.zip
      - name: Download splitter
        if: steps.cache-splitter.outputs.cache-hit != 'true'
        run: wget -O splitter-r654.zip https://www.mkgmap.org.uk/download/splitter-r654.zip
      - name: Download M31
        if: steps.cache-M31.outputs.cache-hit != 'true'
        run: wget -O 114a217-611d29fea4a00.zip https://www.viewfinderpanoramas.org/dem3/M31.zip
      - name: Download M32
        if: steps.cache-M32.outputs.cache-hit != 'true'
        run: wget -O 1bb1c19-611e21623f400.zip https://www.viewfinderpanoramas.org/dem3/M32.zip
      - name: Download N31
        if: steps.cache-N31.outputs.cache-hit != 'true'
        run: wget -O 1f5128-611e1d8bf6680.zip https://www.viewfinderpanoramas.org/dem3/N31.zip
      - name: Download N32
        if: steps.cache-N32.outputs.cache-hit != 'true'
        run: wget -O a3ea25-611e1c9ba2f80.zip https://www.viewfinderpanoramas.org/dem3/N32.zip
      - name: Download Hoehendaten_Freizeitkarte_BEL
        if: steps.cache-Hoehendaten_Freizeitkarte_BEL.outputs.cache-hit != 'true'
        run: wget -O 5c4402-62ed305a14a16.zip http://develop.freizeitkarte-osm.de/ele_20_100_500/Hoehendaten_Freizeitkarte_BEL.osm.pbf
      - name: Download Hoehendaten_Freizeitkarte_NLD
        if: steps.cache-Hoehendaten_Freizeitkarte_NLD.outputs.cache-hit != 'true'
        run: wget -O 3d557b-62ed30b3b735d.zip http://develop.freizeitkarte-osm.de/ele_20_100_500/Hoehendaten_Freizeitkarte_NLD.osm.pbf
      - name: Download Hoehendaten_Freizeitkarte_LUX
        if: steps.cache-Hoehendaten_Freizeitkarte_LUX.outputs.cache-hit != 'true'
        run: wget -O 17dc23-62ed30c666547.zip http://develop.freizeitkarte-osm.de/ele_20_100_500/Hoehendaten_Freizeitkarte_LUX.osm.pbf
      - name: Download cities15000
        if: steps.cache-cities15000.outputs.cache-hit != 'true'
        run: wget -O 2ea27e-64a0a77ca8ce8.zip http://download.geonames.org/export/dump/cities15000.zip
      - uses: actions/setup-java@v3
        with:
          distribution: 'oracle'
          java-version: '17'
      - name: Extract osmosis
        run: unzip -d osmosis osmosis-0.49.2.zip
      - name: Merge extracts
        run: >
          osmosis/osmosis*/bin/osmosis
          --rbf belgium-260204.osm.pbf
          --rbf netherlands-260204.osm.pbf
          --rbf luxembourg-260204.osm.pbf
          --rbf 5c4402-62ed305a14a16.zip
          --rbf 3d557b-62ed30b3b735d.zip
          --rbf 17dc23-62ed30c666547.zip
          --merge
          --merge
          --merge
          --merge
          --merge
          --wb merged.osm.pbf
      - name: Extract splitter
        run: unzip -d splitter splitter-r654.zip
      - name: Extract cities
        run: unzip 2ea27e-64a0a77ca8ce8.zip
      - name: Splitter
        run: >
          java
          -Xmx4096m
          -jar splitter/*/splitter.jar
          --output=pbf
          --output-dir=splitted
          --max-nodes=1400000
          --mapid=10010001
          --geonames-file=cities15000.txt
          --polygon-file=resources/benelux.poly
          merged.osm.pbf
      - name: Extract mkgmap
        run: unzip -d mkgmap mkgmap-r4924.zip
      - name: Extract dem files
        run: >
          for Z in
          114a217-611d29fea4a00.zip
          1bb1c19-611e21623f400.zip
          1f5128-611e1d8bf6680.zip
          a3ea25-611e1c9ba2f80.zip
          ; do
          unzip -d map_with_dem_files $Z ;
          done
      - name: Move DEM files
        run: mv map_with_dem_files/???/*.hgt map_with_dem_files/
      - name: Rename sea.zip
        run: mv sea-20260203230000.zip sea.zip
      - name: Rename bounds.zip
        run: mv bounds-20260112.zip bounds.zip
      - name: mkgmap
        run: >
          java
          -Xms4096m
          -Xmx4096m
          -jar mkgmap/*/mkgmap.jar
          -c "styles/Openfietsmap full/mkgmap.args"
          -c splitted/template.args
          "typ/Openfietsmap lite/20011.txt"
      - name: Rename sea.zip
        run: mv sea.zip sea-20260203230000.zip
      - name: Rename bounds.zip
        run: mv bounds.zip bounds-20260112.zip
      - uses: "marvinpinto/action-automatic-releases@v1.2.1"
        with:
          repo_token: "${{ secrets.PAT }}"
          automatic_release_tag: "latest"
          prerelease: false
          files: gmapsupp.img
